<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>57423766550-d80mtn23c1mmlk6n9p5bncd25e49fvcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57423766550-d80mtn23c1mmlk6n9p5bncd25e49fvcu</string>
	<key>API_KEY</key>
	<string>AIzaSyAtSbSYDKoJt2KO7PJV2TIxEL5Gm35BkHw</string>
	<key>GCM_SENDER_ID</key>
	<string>57423766550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ig.BarberShop</string>
	<key>PROJECT_ID</key>
	<string>barbershop-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>barbershop-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57423766550:ios:f7f8194b807258a8</string>
	<key>DATABASE_URL</key>
	<string>https://barbershop-v2.firebaseio.com</string>
</dict>
</plist>