<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseScreenReportingEnable</key>
	<false/>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>586884728274-u9gstmscu1q98sc163cvju7p2ahqodht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586884728274-u9gstmscu1q98sc163cvju7p2ahqodht</string>
	<key>API_KEY</key>
	<string>AIzaSyBAJT70EGYSF-iYBwxoZHwWm1aMoVz-c9g</string>
	<key>GCM_SENDER_ID</key>
	<string>586884728274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ig.BarberShop</string>
	<key>PROJECT_ID</key>
	<string>test-9297f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-9297f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:586884728274:ios:f7f8194b807258a8</string>
	<key>DATABASE_URL</key>
	<string>https://test-9297f.firebaseio.com</string>
</dict>
</plist>
